.notifications {
    border: 2px dashed #e1484c;
    padding: 5px;
    margin: 10px;
    width: 400px;
    font-family: sans-serif;
}

.notifications p {
    padding: 0;
    margin: 0;
}

.notifications-title {
    text-align: end;
    margin-right: 10px;
}

.notifications li[data-priority="default"] {
    color: blue;
}

.notifications li[data-priority="urgent"] {
    color: red;
}

.notifications-topContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notifications-topContent p {
    padding: 0;
    margin: 0;
}
.notifications button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.notifications button img {
    width: 10px;
    height: 10px;
}